# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
# but returns the greater if one or both numbers are odd

def lesser_of_two_evens (a,b):
    
     # if num1 and num2 is even
    
    if a %2 == 0 and b %2 == 0 :    
        
        # print the smallest number
        
        if a > b :
            
            return b
        
        elif a < b :
            
            return a
        
     # if num1 and num2 is odd 
    
    elif a %2 !=0 or b %2 !=0 :
        
        # print the greater number
        
        if a > b :
            
            return a
        
        elif a < b :
            
            return b
        
        else :
            
            return b
        
print(lesser_of_two_evens(2,4))

print(lesser_of_two_evens(2,5))

2
5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    
    word = text.split()
    
    if word[0][0] == word[1][0] :
        
        return 'true'
    else:
        return 'false'

In [5]:
# Check
animal_crackers('Levelheaded Llama')

'true'

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    
    if n1+n2 == 20 or n1 == 20 or n2 == 20 :
        
        return 'true'
    
    else :
        
        return 'false'

In [11]:
# Check
makes_twenty(20,10)

'true'

In [12]:
# Check
makes_twenty(2,3)

'false'

In [13]:
# Check
makes_twenty(12,8)

'true'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [27]:
def old_macdonald(name):
    
    namelist = list(name)
    
    namelist[0] = namelist[0].upper()
    
    namelist[3] = namelist[3].upper()
    
    return ''.join(namelist)

In [28]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [63]:
def almost_there(n):
    
    if n in range(99,111) or  n in range(199,211) or n in range(199,11) :
        
        return 'true'
    
    else :
        
        return 'false'

In [64]:
# Check
almost_there(104)

'true'

In [65]:
# Check
almost_there(150)

'false'

In [66]:
# Check
almost_there(209)

'true'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [81]:
def has_33(nums):
    
    current = 0
    
    for item in nums:
        
        if current == item == 3:
            
            return True
        
        current = item
        
    return False

In [82]:
# Check
has_33([1, 3, 3])

True

In [83]:
# Check
has_33([1, 3, 1, 3])

False

In [84]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [110]:
def paper_doll(text):
    
    word = ""
    
    for char in text:
        
        word = word + char * 3 
        
    return word

In [111]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [112]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [127]:
def blackjack(a,b,c):
    
    if a+b+c <= 21 :
        
        return a+b+c
    
    elif a == 11 or b == 11 or c == 11 :
        
        return (a+b+c) - 10
    
    elif a+b+c > 21 :
        
        return 'BUST'

In [128]:
# Check
blackjack(5,6,7)

18

In [129]:
# Check
blackjack(9,9,9)

'BUST'

In [130]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [157]:
def summer_69(arr):
    
    sum = 0
    
    for x in arr:
        
        if x in range (6,10) :
            
            continue 
            
        else :
            sum = sum+x
    return sum

In [158]:
# Check
summer_69([1, 3, 5])

9

In [159]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [160]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [164]:
def spy_game(nums):
    
    current = 0
    
    for item in nums:
        
        if current == item == 0 and current == item == 0 and current == item == 7:
            
            return True
        
        current = item
        
    return False

In [165]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [166]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [167]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [161]:
def count_primes(num):
    
    counter = 0
    
    for n in range(2,num+1):
        
        primenumber=True
        
        for i in range(2,n):
            
            if(n%i == 0):
                
                primenumber = False
                
                break
                
        if primenumber:
            
            counter += 1
            
    return counter

In [162]:
# Check
count_primes(100)

25

## Great Job!